<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <!--
    <category label="Основные">
    </category>
  
    <category label="Предпочтения">
		<setting label="Битрейт (кбит/сек)" type="number" id="preffered_bitrate" default="10000"/>
		<setting label="Качество" id="preffered_type" type="select" values="720p|1080" default="1080" />
        <setting label="Кодек" id="preffered_codec" type="select" values="MPEG2/MPEG4 ASP|H264/AVC|H265/HEVC" default="H264/AVC"/>
    </category>
    -->

  <category label="RuTracker">
    <setting label="Домен" type="text"   id="rt_baseurl" default="rutracker.net"/>
    <setting label="Учётные данные сайта rutracker.org (необходима регистрация на сайте)" type="lsep"/>
    <setting label="Login" type="text"   id="rt_username" default=""/>
    <setting label="Password" type="text"   id="rt_password" option="hidden"  default=""/>
  </category>

  <category label="F1News">
    <setting label="Использовать прокси" id="f1n_use_proxy" type="bool" default="false"/>
    <setting subsetting="true" label="Автоматически" id="f1n_proxy_auto" type="bool" visible="eq(-1,true)" default="true"/>
    <setting subsetting="true" label="Адрес" id="f1n_proxy_address" type="text" visible="eq(-2,true)+eq(-1,false)"/>
  </category>

  <category label="P2P Сеть">
		<setting label="Торрент проигрыватель" id="torrent_player" type="select" values="torrent2http|YATP|Ace Stream|TorrServer" default="torrent2http" /> <!---->
		<setting label="Путь для сохранения видео файлов"	type="folder" id="storage_path"	default="" visible="eq(-1,torrent2http)" />
    <setting id="upload_limit"      type="number"   label="Ограничить скорость раздачи МБит/сек (0 - неограничено)" default="0"       visible="eq(-2,torrent2http)"/>
    <setting id="download_limit"    type="number"   label="Ограничить скорость закачки МБит/сек (0 - неограничено)" default="0"       visible="eq(-3,torrent2http)"/>
    <setting id="encryption"        type="bool"     label="Шифрование" default="true"    visible="eq(-4,torrent2http)"/>
    <setting id="connections_limit" type="number"   label="Макс. соединений (0 - безлимит)" default="200"     visible="eq(-5,torrent2http)"/>
    <setting id="listen_port"       type="number"   label="Порт для входящих соединений" default="6881"    visible="eq(-6,torrent2http)"/>
    <setting id="use_random_port"   type="bool"     label="Использовать случайные порты" default="false"   visible="eq(-7,torrent2http)"/>
    <setting id="pre_buffer_bytes"  type="slider"   label="Загружаемый объем файла до начала просмотра, Мб" default="25"      visible="eq(-8,torrent2http)"  range="5,5,50" option="int"/>
	</category>
  
  <category label="ТВ">
    <setting label="Источник" id="tv_source" type="enum" values="PVR|Плейлист" default="PVR" />
    <setting label="Расположение" id="tv_playlist_source" type="enum" values="Локальный путь|Удалённый путь" visible="eq(-1,1)"/>
    <setting subsetting="true" label="Путь к M3U" id="tv_playlist_source_local" type="file" visible="eq(-1,0)+eq(-2,1)"/>
    <setting subsetting="true" label="Ссылка на M3U" id="tv_playlist_source_remote" type="text" visible="eq(-2,1)+eq(-3,1)"/>
    <setting label="Список каналов" id="tv_channels" type="text" default="Матч ТВ|Матч ТВ HD|Матч! HD|Матч! Арена|Матч! Арена HD|Setanta Sports +|Setanta Sports + HD|Setanta Sports+ UA HD"/>
  </category>

</settings>